body {
    font-family: monospace;
}

input.editable {
    background-color: #DEF7FF;
    padding: 5px;
    border-style: none;
}

span.fixed {
    margin-right:0.4em;
}

.title {
    font-size: 1.4em;
}

input:invalid {
    background-color: #FFBDB3;
}

div.row {
    min-height: 1em;
}

.keyword {
    font-weight: bold;
    color: darkblue;
}

div.tab {
    min-width: 2em;
    display: inline-block;
}