/*
 Generic tags
 */

body {
    font-family: monospace;
}

input.editable {
    background-color: #DEF7FF;
    padding: 3px;
    border-style: none;
    margin-right:0.4em;
}

span.fixed {
    margin-right:0.4em;
}

.title {
    font-size: 1.4em;
}

input:invalid {
    background-color: #FFBDB3;
}

/*
 Classes
 */

.default-cell-abstract {
    background-color: #FFBDB3;
}

.missing-element {
    background-color: #FFBDB3;
    color: gray;
}

.default-cell-concrete {
    background-color: #b123ff;
}

.deleting {
    background-color: #FFBDB3;
    border: 1px red solid;
}

div.row {
    min-height: 1em;
    margin-bottom: 0.5em;
}

.strong {
    font-weight: bold;
    color: black;
}

.keyword {
    font-weight: bold;
    color: darkblue;
}

.type {
    font-weight: bold;
    color: darkgreen;
}

div.tab {
    min-width: 2em;
    display: inline-block;
}

div.vertical-collection {
    display: inline-block;
}

div.horizontal-group {
    display: inline-block;
}

input.fixed {
    border-style: solid;
    border-width: 0;
    border-color: #aaa;
}

input.empty-collection:focus {
    background-color: rgb(222, 219, 255);
}

input.keyword {
    background: transparent;
}

.autocomplete {
    -webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.75);
    padding: 2px;
    /*background-color: #E6F1FE;*/
    background-color: #ddf0f0;
    min-width: 20%;
    padding: 4px;
    border: 1px #888 solid;
}

.autocomplete > div {
    padding: 3px;
    background-color: white;
    margin: 3px;
}

.autocomplete > div:hover {
    background-color: #c8d8cb;
    color: blue;
}


.autocomplete-item {
    padding: 2px;
}

.autocomplete-item.highlighted {
    font-weight: bold;
}

.autocomplete-item.selected {
    background-color: #475D9D;
    color: white;
}

.unresolved-reference {
    color: red;
}

.empty-collection {
    color: gray;
}

.vertical-group {
    display:inline-block;
}

.row * {
    vertical-align: top;
}

.horizontal-collection {
    display: inline-block;
}

input {
    font-family: monospace;
}

.reference {
    font-style: italic;
    color: darkmagenta;
}

.reference:hover {
    color: white;
    background-color: #475D9D;
    text-decoration: underline;
}

.collapsibleCell {
    border: 1px #ccc solid;

}

.collapsibleCell .header {
    padding: 5px;
    border-bottom: 1px #ccc solid;
}

.hidden {
    display: none;
}

.vertical-group.represent-node.hasErrors {
    border: 1px rgba(255,0,0,0.2) solid;
    background-color: rgba(255,0,0,0.05);
}

/*.hasErrors {*/
/*    background-color: red;*/
/*}*/

#intentions-menu {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 4px;
    background-color: #eee;
    border-radius: 4px;
    border: 1px black solid;
}

#intentions-menu input {
    margin: 3px;
    border: 0;
    background: transparent;
    border-bottom: 1px black solid;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
    display: block;
}

input {
    margin-left: 3px;
    margin-right: 3px;
}

input.punctuation {
    margin-left:0;
    margin-right: 0;
}

div.horizontal-collection {
    display: inline-block;
}

.vertical-group {
    display:inline-block;
}

.row * {
    vertical-align: top;
}

input.fixed {
    /* In this way it is vertically aligned with the editable labels */
    padding-top: 3px;
    padding-bottom: 3px;
}

span.title {
    margin-right:0.4em;
}

input:invalid {
    background-color: #FFBDB3;
}

div.horizontal-line {
    height: 2px;
    background-color: black;
    display: inline-block;
    width: 100%;
}

.abstractCell {
    /*background-color: #9ecaed;*/
    color: #ff6666;
    background-color: pink;
}

.errorCell {
    color: red;
}